.text {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-xs-medium-size);
  color: var(--color-slategray);
  font-family: var(--text-xs-medium);
}
